
#editPageContainingDiv{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#editPageTitleHeading{
    color: white;
    font-size: 5vh;
}

#EditPageSaveBtn{
    position: fixed;
    height: 5%;
    width: 5%;
    bottom:5%;
    right:10%;
    background-color: darkblue;
    outline: none;
    border: 1px solid white;
    border-radius: 1vh;
    color: white;
    font-size: 3vh;
}
#EditPageAddBtn{
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}
#EditPageAddBtn:hover{
    background-color: grey;
}