
#editCardContainingDiv{
    padding-bottom: 50px;
    margin: 10px 20%;
    border-radius: 10px;
    border: 1px solid white;
}

#EditCardHeaderContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#EditCardIndexHeader{
    color: white;
    font-size: larger;
    height: 100%;
    /*
    padding-top: 1%;
    height:2vh;
    text-align: left;
    margin-left: 3vw;
    */
}

#EditCardRemoveBtn{
    /* margin-top: 20px; */
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    color: white;
    outline: none;
    border: none;
    /*
    position: relative;
    right: 0;
    top: 50%;
    */
}
#EditCardRemoveBtnLogo{
    /* background-color: transparent; */
}

#EditCardIndexDivider{
    margin-bottom: 3%;
    height:2px;
    border: none;
    background-color: grey;
    margin-left: 2%;
    margin-right: 2%;
}

#EditCardInnerContainingDiv{
    display: flex;
    justify-Content: space-between;
    margin: 0 100px;
}
.editCardInput{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    resize: none;
    overflow: hidden;
    width: 45%;
    outline:none;
}

.editCardInput:focus{
  border-bottom: .5vh solid yellow; /* Change to desired color when focused or hovered */
}