#EditTitleCardContainer{
    height: 20vh;
    width: 98vw;

}

#EditTitleCardTitleHeaderContainer{
    height: 17vh;
    margin: 0 20%;
    /* margin: 0 40vh; */
    border-radius: 10px;
    border: 1px solid white;
    font-size: 2vh;
}

#EditTitleCardTitleHeader{
    text-align: left;
    margin-left: 1vw;
    color: white;
}

#EditTitleCardDivider{
    /* margin: 20px; */
    margin: 1vh;
}

#EditTitleCardInput{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    resize: none;
    overflow: hidden;
    width: 90%;
    outline:none;
    padding-top: 10px;
    font-size: 2vh;
}

#EditTitleCardInput:focus{
    border-bottom: .5vh solid yellow; /* Change to desired color when focused or hovered */
}

#EditTitleCardInput::placeholder{
    color: rgb(190, 190, 190);
}