
#editCardContainingDiv{
    padding-bottom: 50px;
    margin: 10px 20%;
    border-radius: 10px;
    border: 1px solid white;
}

#EditCardIndexHeader{
    padding-top: 1%;
    text-align: left;
    height:2vh;
    margin-left: 3vw;
    color: white;
}

#EditCardIndexDivider{
    margin-bottom: 3%;
    height:2px;
    border: none;
    background-color: grey;
    margin-left: 2%;
    margin-right: 2%;
}

#EditCardInnerContainingDiv{
    display: flex;
    justify-Content: space-between;
    margin: 0 100px;
}
.editCardInput{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    resize: none;
    overflow: hidden;
    width: 45%;
    outline:none;
}

.editCardInput:focus{
  border-bottom: .5vh solid yellow; /* Change to desired color when focused or hovered */
}