.setDisplayContainer{
    position:absolute;
    height:100%;
    width:80%;
    margin-left: 10%;
}
.setDisplayHeader{
    color:white;
}

.setDisplayButtonContainer{
    margin-left: 50px;
    display:flex;
}
.setDisplayOptionButton{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.setDisplayButton{
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    border: 1px solid white;
}
.setDisplayButtonText{
    color:white;
    text-align: center;
    margin-top: 10%;
}
.setDisplayCardContainer{
    margin-top: 30px;
    display:flex;
}

.setDisplayCard{
    height:300px;
    width: 70%;
    top:50%;
    left:30%;
    border: 1px solid white;
    text-align: center;
    
}
.setDisplayCardWord{
    font-size:x-large;
    position: relative;
    margin-top: 125px;
    color: white;
}
.setDisplaySetCard{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    border: 1px solid white;
}
#SetDisplayCardContainer{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    justify-content: center;
    padding-bottom: 10px;
}
.setDisplaySetCardWord{
    font-size: medium;
    color:white;
    margin-left: 15px;
}
#SetDisplayTerm{
    border-right: 1px solid white;
    width: 40%;
}
#SetDisplayDef{
    width: 60%;
}
.setDisplayCardButton{
    height:50px;
    width:100px;
    margin-top: 125px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 5vh;
    border-radius: 10px;
}