#back-button {
    position: fixed;
    top: 20px; /* Adjust the value as per your preference */
    left: 20px; /* Adjust the value as per your preference */
    height:60px;
    width: 70px;
    background-color: transparent;
    border:none;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
#MatchingContainingDiv{
    height:95vh;
    width:98vw;
}
#MatchingTitleHeader{
    color: white;
    text-align: center;
}

#MatchingColumnsArea{
    display:flex;
}

.matchingUnselected{
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}

.matchingSelected{
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}
.matchingMatchedPair{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    color: grey;
}


.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    color: white;
}