.content {
    margin-left: 20%;
    padding: 20px;
}
#homeBodyTable{
    color: white;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
tr{
    margin-bottom: 60px;
}
.homeBodyTd{
    position: relative;
    height: 20px;
    width:100%;
}
.homeBodyTr{
    height: 60px;
}
.homeBodyTd.clicked{
    background-color: grey;
}
.options-box{
    border: 1px solid white;
    width:200px;
    height:60px;   
}
.options-menu{
    display: flex;
    flex-wrap: wrap;
}
.item{
    flex-basis: 50%;
    box-sizing: border-box;
}
thead{
    text-align: center;
}

#homeBodyMenuBtn{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    position: absolute;
    right: 10px;
    visibility: hidden;
    
}
.homeBodyTr:hover #PopupMenuContainer{
    visibility: visible;
}
.homeBodyTr:hover #homeBodyMenuBtn  {
    visibility: visible;
}
#HomeBodyAddBtn{
    position: fixed;
    bottom: 5vh;
    right: 4vw;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    border: 2px solid white;
    background-color: rgb(40, 40, 194);
    color: white;
    font-size: 1vw;
}