#toBackBtn {
    position: fixed;
    top: 20px; /* Adjust the value as per your preference */
    left: 20px; /* Adjust the value as per your preference */
    height:60px;
    width: 70px;
    background-color: transparent;
    border:none;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
  }